/*
FED Project CA1 1935938
        Name: Boris Cougar Ong
        Date: 6/5/19

        Filename: education_styles.css
*/

/* Image Styles */
#phss {
    height: 175px;
}

.schools > p {
    font-size: 15px;
    font-style: italic;
}

#agps {
    height: 175px;
}