/*
FED Project CA1 1935938
        Name: Boris Cougar Ong
        Date: 6/5/19

        Filename: interests_styles.css
*/

/* Image Styles */
.interesting > img {
    height: 250px;
}

#overwatch > img {
    height: 200px
}

#ow {
    font-size: 12px
}

#gta > img{
    height: 160px;
}

.interesting > p {
    font-size: 15px;
    font-style: italic;
}

#ow {
    font-size: 15px;
    font-style: italic;
}