#title-centre {
    padding: 60px;
    text-align: center;
    background-image: url(Pictures/background.jpg);
    background-size: 100% 100%;
    width: auto;
}

.display-4 {
    color: #FFF;
    text-shadow: 2px 2px rgb(100, 98, 98);
    text-decoration: none;
}

#sidebar {
    padding-top: 2.5rem;
    background-color: #f1f1f1;
    padding-bottom: 2.5rem;
}

#mainbar {
    padding-top: 2.5rem;
}

footer {
    bottom: 0;
    width: auto;
    padding: 20px;
    background-color: #dddddd;
    font-size: 15px;
}

a > img {
    height: 40px;
    text-decoration: none;
}

#twitter, #discord, #instagram {
    text-decoration: none;
}

.fa-twitter:hover{
    color: #657786;
    transition: 0.2s;
}

.fa-instagram{
    color: #000;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #C13584;
    transition: 0.2s;
}

.fa-discord{
    color: #23272A;
    text-decoration: none;
}

.fa-discord:hover{
    color: #7289DA;
    transition: 0.2s;
}