/*
FED Project CA1 1935938
        Name: Boris Cougar Ong
        Date: 6/5/19

        Filename: socialmedia_styles.css
*/

/* Text boxes */

fieldset{
    margin-top: 10px;
}

.socialmedia label{
    display: block;
    position: relative;
    margin: 0.8em 0;
}

.socialmedia input{
    position: absolute;
    left: 210px;
    padding: 0.4em;
    border: 2px solid #7c7878;
    border-radius: 15px;
    width: 40%
}

#submit {
    border: none;
    border-radius: 15px;
    font-size: 20px;
    background-color: #89cff0;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#submit:hover {
    background-color: #000080;
    color: #f1f1f1;
    transition: 0.3s;
}

#submit:active {
    background-color: #000080;
    box-shadow: 0 5px #666;
    color: #f1f1f1;
    transform: translateY(4px);
}

#gaps {
    margin-top: 1.5em;
}